/* Importing from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

button:hover{
  cursor: pointer;
}

* {
  background-color: #2E2E2E;
  color: #FFFFFF;

  font-family: "Fira Code", monospace;
  font-family: 'Inter', Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

}

/**
==============================================
                 Headers
==============================================
 */

.Header {
  display: flex;
  text-align: center;
  margin: auto;
  width: 150vh;
  padding: 2vh;
  align-items: center;
  justify-content: space-between;
}

.Header button {
  width: 30vh;
  height: 100%;
  font-size: 3vh;
  font-weight: lighter;
  margin-right: 3vh;
  margin-left: 3vh;
  box-shadow: 4px 4px whitesmoke;
  padding: 0.5vh;
  border: 0.5px solid whitesmoke;
}

.Header button:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}


h1 {
  font-size: 5vh;
  margin-left: 5vh;
}

.page-header {
  font-size: 6vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-left: 4vh;
  margin-right: 4vh;

}

.content-container a {
  margin: auto;
}

.description-container {
  padding: 5%;
  width: 50%;
  border: 0.5px solid white;
  box-shadow:  10px 10px white;
}

.description-container h1 {
  margin: auto;
  font-size: 5vh;
}

.description-container p {
  font-size: 2vh;
  line-height: 1.6;
}

.description-container h3 {
  font-size: 2vh;

}

/**
==============================================
           EducationPage Styles
==============================================
 */


.education-container {
  padding: 5%;
  width: 50%;
  border: 0.5px solid whitesmoke;
  box-shadow:  10px 10px whitesmoke;
  display: flex;
  margin-bottom: 5vh;
}

.education-container h1 {
  margin-left: 0;
}

.education-description-container h3{
  font-size: 3vh;
}

.education-container p {
  font-size: 2vh;
}

.education-container a {
  margin: auto;
  margin-left: 20%;
}

.courses-container {
  margin-top: -3%;
  display: flex;
  flex-direction: column;

}

.courses-container button {
  margin-left: 0;
  border: 0.5px solid whitesmoke;
  width: 60vh;
  font-size: 2vh;
  padding: 2%;
  margin-bottom: 2vh;
  box-shadow: 3px 3px whitesmoke;
  text-align: left;
}

.courses-container button:active {
  box-shadow: none;
  transform: translate(7px, 7px);
}

.course-container p {
  width: 60vh;
}


/**
==============================================
                Project Styles
==============================================
 */

.project-container {
  margin-left: 4vh;
  margin-right: 4vh;
  padding: 5%;
  border: 0.5px solid whitesmoke;
  box-shadow:  10px 10px whitesmoke;
  display: flex;
  flex-direction: row;
}

.project-container h1 {
  margin-left: 0;
}

.project-container button {
  margin: auto;
  border: 0.5px solid whitesmoke;
  box-shadow:  8px 8px whitesmoke;
  padding: 0;
}

.project-container button img {
  max-width: 70vh;
  max-height: 50vh;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.project-description-container p {
  margin-top: 0;
  font-size: 2vh;
  line-height: 1.6;
  width: 90%;
}

.project-description-container span {
  font-size: 2vh;
  width: 90%;
  font-weight: bold;
}


/**
==============================================
                   Effects
==============================================
 */

.description-container:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.education-container:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.project-container:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.project-container button:hover {
  box-shadow: none;
  transform: translate(8px, 9px);
}

.pfp:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.pfp {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  border: 0.5px solid black;
  box-shadow: 10px 10px black;

}

.github {
  margin-top: 1vh;
  padding: 5%;
  width: 30vh;
  height: 3vh;

}

.github:hover {
  cursor: pointer;
  box-shadow: none;
}

.links {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: 0.5px solid whitesmoke;
  width: 100%;
}

.resume-form {
  margin: auto;
  border: 0.5px solid whitesmoke;
}






